In [1]:
import sys
import os
import datetime as dt

sys.path.append(os.path.abspath("../src"))

from option_features import *

In [6]:
# Load hackathon_data and option_pre2010 data
hackathon_data = pd.read_csv("../data/raw_data/hackathon_sample_v2.csv")
option_pre2010 = pd.read_csv("../data/raw_data/option_sample_pre_2010.csv")
option_post2010 = pd.read_csv("../data/raw_data/options_data_sample.csv")

option_features = OptionFeatures(option_pre2010, option_post2010, hackathon_data)
option_features.run_analysis()
data = option_features.add_option_features_to_hackathon_data()

In [7]:
filtered_data = data[data['stock_ticker'].isin(['AAPL', 'MSFT'])]
filtered_data

,date,ret_eom,permno,shrcd,exchcd,mspread,year,month,size_port,rf,...,rmax5_rvol_21d,age,qmj,qmj_prof,qmj_growth,qmj_safety,year_month,monthly_avg_impl_volatility,monthly_avg_skewness,monthly_avg_opt_baspread
2,2000-01-31,20000131,10107,11,3,0.011369,2000,1,B,0.0041,...,1.899772,180,1.190962,1.682187,-0.583515,1.336684,2000-01,NaN,NaN,NaN
106,2000-01-31,20000131,14593,11,3,0.016324,2000,1,B,0.0041,...,1.334642,240,1.256232,1.349406,1.051719,0.195078,2000-01,NaN,NaN,NaN
1244,2000-02-29,20000229,10107,11,3,0.012729,2000,2,B,0.0043,...,0.976748,181,1.188351,1.649329,-0.582644,1.348681,2000-02,NaN,NaN,NaN
1348,2000-02-29,20000229,14593,11,3,0.013985,2000,2,B,0.0043,...,1.887542,241,1.062162,1.222134,0.694039,0.235076,2000-02,NaN,NaN,NaN
2473,2000-03-31,20000331,10107,11,3,0.011168,2000,3,B,0.0047,...,1.324651,182,1.179418,1.650308,-0.600240,1.344681,2000-03,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
270480,2023-10-31,20231031,14593,11,3,0.005148,2023,10,B,0.0047,...,0.554409,525,1.574538,1.665579,1.562672,0.406630,2023-10,NaN,NaN,NaN
271366,2023-11-30,20231130,10107,11,3,0.003063,2023,11,B,0.0044,...,1.289369,466,1.681117,1.652865,1.291517,1.233534,2023-11,NaN,NaN,NaN
271491,2023-11-30,20231130,14593,11,3,0.002650,2023,11,B,0.0044,...,0.736103,526,1.625119,1.668033,1.569122,0.515600,2023-11,NaN,NaN,NaN
272377,2023-12-29,20231231,10107,11,3,0.003180,2023,12,B,0.0043,...,1.221655,467,1.690347,1.649743,1.288312,1.300432,2023-12,NaN,NaN,NaN
272497,2023-12-29,20231231,14593,11,3,0.002511,2023,12,B,0.0043,...,1.338526,527,1.641143,1.665891,1.570337,0.668730,2023-12,NaN,NaN,NaN

In [4]:
option_data = option_features.data
option_data

,date,year_month,stock_ticker,exdate,cp_flag,strike_price,best_bid,best_offer,mid_price,volume,impl_volatility,delta,days_to_expiration,abs_delta,opt_baspread
2,2006-01-03,2006-01,AAPL,2006-01-21,C,15000,59.70,59.90,59.800,3,2.987025,0.996874,18,0.996874,0.003344
3,2006-01-03,2006-01,AAPL,2006-01-21,C,20000,54.70,54.90,54.800,10,2.431007,0.996382,18,0.996382,0.003650
4,2006-01-03,2006-01,AAPL,2006-01-21,C,25000,49.70,50.00,49.850,5,2.207326,0.993053,18,0.993053,0.006018
5,2006-01-03,2006-01,AAPL,2006-01-21,C,30000,44.70,45.00,44.850,73,1.835993,0.992260,18,0.992260,0.006689
6,2006-01-03,2006-01,AAPL,2006-01-21,C,35000,39.70,40.00,39.850,7,1.520733,0.991652,18,0.991652,0.007528
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1684905,2023-08-30,2023-08,MSFT,2025-12-19,P,300000,29.10,31.30,30.200,5,0.288727,-0.284294,842,0.284294,0.072848
1684906,2023-08-30,2023-08,MSFT,2025-12-19,P,305000,31.15,35.15,33.150,6,0.293787,-0.299642,842,0.299642,0.120664
1684908,2023-08-30,2023-08,MSFT,2025-12-19,P,315000,36.00,39.35,37.675,10,0.294145,-0.329075,842,0.329075,0.088918
1684911,2023-08-30,2023-08,MSFT,2025-12-19,P,330000,41.20,45.35,43.275,2,0.284699,-0.376184,842,0.376184,0.095898
1684917,2023-08-30,2023-08,MSFT,2025-12-19,P,360000,56.60,59.15,57.875,3,0.273832,-0.481612,842,0.481612,0.044060

In [5]:
a = option_features.option_features
a

,year_month,stock_ticker,monthly_avg_impl_volatility,monthly_avg_skewness,monthly_avg_opt_baspread
0,2006-01,AAPL,0.425204,-0.010531,0.127650
4120,2006-02,AAPL,0.415800,0.024551,0.112315
7846,2006-03,AAPL,0.462972,0.002914,0.121122
12313,2006-04,AAPL,0.395878,0.009340,0.142768
16027,2006-05,AAPL,0.360734,0.012993,0.132603
...,...,...,...,...,...
797664,2023-04,MSFT,0.277838,0.038287,0.169451
818757,2023-05,MSFT,0.211168,0.034911,0.167749
843704,2023-06,MSFT,0.222201,0.022235,0.164589
869067,2023-07,MSFT,0.297565,0.016670,0.132682
898085,2023-08,MSFT,0.243428,0.022086,0.127943

In [6]:
options = pd.read_csv('../data/raw_data/options_data_sample.csv')
options

unique_combos = options.groupby(['date', 'secid']).ngroups
print(f"Number of unique combinations of 'date' and 'secid': {unique_combos}")
options

Number of unique combinations of 'date' and 'secid': 796

,secid,date,symbol,symbol_flag,exdate,last_date,cp_flag,strike_price,best_bid,best_offer,...,theta,optionid,cfadj,am_settlement,contract_size,forward_price,expiry_indicator,index_flag,issuer,exercise_style
0,101594,2022-02-01,AAPL 220204C105000,1,2022-02-04,2022-01-31,C,105000,69.60,69.75,...,-32.18347,144402028,1,0,100,NaN,w,0,APPLE INC,A
1,101594,2022-02-01,AAPL 220204C108000,1,2022-02-04,NaN,C,108000,66.60,66.75,...,-31.92333,144991865,1,0,100,NaN,w,0,APPLE INC,A
2,101594,2022-02-01,AAPL 220204C109000,1,2022-02-04,2022-01-31,C,109000,65.60,65.75,...,-31.83509,144991866,1,0,100,NaN,w,0,APPLE INC,A
3,101594,2022-02-01,AAPL 220204C110000,1,2022-02-04,2022-02-01,C,110000,64.45,64.90,...,-31.74614,144402029,1,0,100,NaN,w,0,APPLE INC,A
4,101594,2022-02-01,AAPL 220204C111000,1,2022-02-04,NaN,C,111000,63.55,63.80,...,-31.65646,144991867,1,0,100,NaN,w,0,APPLE INC,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1687981,107525,2023-08-31,MSFT 251219P520000,1,2025-12-19,NaN,P,520000,189.50,194.45,...,NaN,155806758,1,0,100,NaN,NaN,0,MICROSOFT CORPORATION,A
1687982,107525,2023-08-31,MSFT 251219P525000,1,2025-12-19,NaN,P,525000,194.55,199.45,...,NaN,155806759,1,0,100,NaN,NaN,0,MICROSOFT CORPORATION,A
1687983,107525,2023-08-31,MSFT 251219P530000,1,2025-12-19,NaN,P,530000,199.50,204.50,...,NaN,155806760,1,0,100,NaN,NaN,0,MICROSOFT CORPORATION,A
1687984,107525,2023-08-31,MSFT 251219P535000,1,2025-12-19,NaN,P,535000,204.50,209.50,...,NaN,155806761,1,0,100,NaN,NaN,0,MICROSOFT CORPORATION,A
1687985,107525,2023-08-31,MSFT 251219P540000,1,2025-12-19,NaN,P,540000,209.50,214.50,...,NaN,155806762,1,0,100,NaN,NaN,0,MICROSOFT CORPORATION,A

In [7]:
iv = ImpliedVolatilityIndicator(options)
iv_results = iv.run_analysis()
iv_results

NameError: name 'ImpliedVolatilityIndicator' is not defined

In [ ]:
hackathon_data = pd.read_csv('../data/raw_data/hackathon_sample_v2.csv')
merged_data = add_supplementary_data(hackathon_data, iv_results)

filtered_data = merged_data[(merged_data['ticker'].isin(['AAPL', 'MSFT'])) & 
                            (merged_data['date'] >= '2022-02-01') & 
                            (merged_data['date'] <= '2023-08-31')]