In [1]:
import pandas as pd

Options Fields to get:

- date
- secid
- symbol
- cp_flag
- Best bid (demand)
- Best ask (offer)
- volume
- open interest
- deltas
- implied volatility

In [2]:
options = pd.read_csv('../data/raw_data/options_data_sample.csv')
options

,secid,date,symbol,symbol_flag,exdate,last_date,cp_flag,strike_price,best_bid,best_offer,...,theta,optionid,cfadj,am_settlement,contract_size,forward_price,expiry_indicator,index_flag,issuer,exercise_style
0,101594,2022-02-01,AAPL 220204C105000,1,2022-02-04,2022-01-31,C,105000,69.60,69.75,...,-32.18347,144402028,1,0,100,NaN,w,0,APPLE INC,A
1,101594,2022-02-01,AAPL 220204C108000,1,2022-02-04,NaN,C,108000,66.60,66.75,...,-31.92333,144991865,1,0,100,NaN,w,0,APPLE INC,A
2,101594,2022-02-01,AAPL 220204C109000,1,2022-02-04,2022-01-31,C,109000,65.60,65.75,...,-31.83509,144991866,1,0,100,NaN,w,0,APPLE INC,A
3,101594,2022-02-01,AAPL 220204C110000,1,2022-02-04,2022-02-01,C,110000,64.45,64.90,...,-31.74614,144402029,1,0,100,NaN,w,0,APPLE INC,A
4,101594,2022-02-01,AAPL 220204C111000,1,2022-02-04,NaN,C,111000,63.55,63.80,...,-31.65646,144991867,1,0,100,NaN,w,0,APPLE INC,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1687981,107525,2023-08-31,MSFT 251219P520000,1,2025-12-19,NaN,P,520000,189.50,194.45,...,NaN,155806758,1,0,100,NaN,NaN,0,MICROSOFT CORPORATION,A
1687982,107525,2023-08-31,MSFT 251219P525000,1,2025-12-19,NaN,P,525000,194.55,199.45,...,NaN,155806759,1,0,100,NaN,NaN,0,MICROSOFT CORPORATION,A
1687983,107525,2023-08-31,MSFT 251219P530000,1,2025-12-19,NaN,P,530000,199.50,204.50,...,NaN,155806760,1,0,100,NaN,NaN,0,MICROSOFT CORPORATION,A
1687984,107525,2023-08-31,MSFT 251219P535000,1,2025-12-19,NaN,P,535000,204.50,209.50,...,NaN,155806761,1,0,100,NaN,NaN,0,MICROSOFT CORPORATION,A
1687985,107525,2023-08-31,MSFT 251219P540000,1,2025-12-19,NaN,P,540000,209.50,214.50,...,NaN,155806762,1,0,100,NaN,NaN,0,MICROSOFT CORPORATION,A

In [3]:
options['contract_size'].value_counts()

contract_size
100    1687986
Name: count, dtype: int64

In [4]:
# count how many lines has an open_interest = 0
options[options['open_interest'] == 0].shape[0]

289812

In [5]:
options[options['volume'] == 0].shape[0]

779562

In [16]:
def filter_option_atm_by_delta(options, delta_range):
    return options[(abs(options['delta']) >= delta_range[0]) & (abs(options['delta']) <= delta_range[1])].reset_index(drop=True)

def drop_observations_with_missing_iv_or_delta(options):
    return options.dropna(subset=['impl_volatility', 'delta']).reset_index(drop=True)

In [14]:
atm_options = filter_option_atm_by_delta(options, [0.375, 0.625])
atm_options

,secid,date,symbol,symbol_flag,exdate,last_date,cp_flag,strike_price,best_bid,best_offer,...,theta,optionid,cfadj,am_settlement,contract_size,forward_price,expiry_indicator,index_flag,issuer,exercise_style
0,101594,2022-02-01,AAPL 220204C175000,1,2022-02-04,2022-02-01,C,175000,1.59,1.60,...,-109.079700,144352916,1,0,100,NaN,w,0,APPLE INC,A
1,101594,2022-02-01,AAPL 220204P175000,1,2022-02-04,2022-02-01,P,175000,2.12,2.15,...,-109.077500,144352951,1,0,100,NaN,w,0,APPLE INC,A
2,101594,2022-02-01,AAPL 220211C172500,1,2022-02-11,2022-02-01,C,172500,4.20,4.25,...,-57.689110,144451504,1,0,100,NaN,w,0,APPLE INC,A
3,101594,2022-02-01,AAPL 220211C175000,1,2022-02-11,2022-02-01,C,175000,2.75,2.77,...,-56.014270,144451505,1,0,100,NaN,w,0,APPLE INC,A
4,101594,2022-02-01,AAPL 220211P172500,1,2022-02-11,2022-02-01,P,172500,2.26,2.28,...,-55.155380,144451536,1,0,100,NaN,w,0,APPLE INC,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
162833,107525,2023-08-31,MSFT 251219P370000,1,2025-12-19,2023-08-08,P,370000,61.50,64.55,...,-3.735215,152561246,1,0,100,NaN,NaN,0,MICROSOFT CORPORATION,A
162834,107525,2023-08-31,MSFT 251219P375000,1,2025-12-19,2023-08-14,P,375000,64.15,67.75,...,-3.422077,153528692,1,0,100,NaN,NaN,0,MICROSOFT CORPORATION,A
162835,107525,2023-08-31,MSFT 251219P380000,1,2025-12-19,2023-07-19,P,380000,67.90,70.15,...,-3.192425,152561247,1,0,100,NaN,NaN,0,MICROSOFT CORPORATION,A
162836,107525,2023-08-31,MSFT 251219P385000,1,2025-12-19,2023-07-21,P,385000,70.90,73.20,...,-2.847353,153528693,1,0,100,NaN,NaN,0,MICROSOFT CORPORATION,A
162837,107525,2023-08-31,MSFT 251219P390000,1,2025-12-19,2023-08-02,P,390000,73.15,76.50,...,-2.529099,152561248,1,0,100,NaN,NaN,0,MICROSOFT CORPORATION,A

In [17]:
atm_options = drop_observations_with_missing_iv_or_delta(atm_options)
atm_options

,secid,date,symbol,symbol_flag,exdate,last_date,cp_flag,strike_price,best_bid,best_offer,...,theta,optionid,cfadj,am_settlement,contract_size,forward_price,expiry_indicator,index_flag,issuer,exercise_style
0,101594,2022-02-01,AAPL 220204C175000,1,2022-02-04,2022-02-01,C,175000,1.59,1.60,...,-109.079700,144352916,1,0,100,NaN,w,0,APPLE INC,A
1,101594,2022-02-01,AAPL 220204P175000,1,2022-02-04,2022-02-01,P,175000,2.12,2.15,...,-109.077500,144352951,1,0,100,NaN,w,0,APPLE INC,A
2,101594,2022-02-01,AAPL 220211C172500,1,2022-02-11,2022-02-01,C,172500,4.20,4.25,...,-57.689110,144451504,1,0,100,NaN,w,0,APPLE INC,A
3,101594,2022-02-01,AAPL 220211C175000,1,2022-02-11,2022-02-01,C,175000,2.75,2.77,...,-56.014270,144451505,1,0,100,NaN,w,0,APPLE INC,A
4,101594,2022-02-01,AAPL 220211P172500,1,2022-02-11,2022-02-01,P,172500,2.26,2.28,...,-55.155380,144451536,1,0,100,NaN,w,0,APPLE INC,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
162833,107525,2023-08-31,MSFT 251219P370000,1,2025-12-19,2023-08-08,P,370000,61.50,64.55,...,-3.735215,152561246,1,0,100,NaN,NaN,0,MICROSOFT CORPORATION,A
162834,107525,2023-08-31,MSFT 251219P375000,1,2025-12-19,2023-08-14,P,375000,64.15,67.75,...,-3.422077,153528692,1,0,100,NaN,NaN,0,MICROSOFT CORPORATION,A
162835,107525,2023-08-31,MSFT 251219P380000,1,2025-12-19,2023-07-19,P,380000,67.90,70.15,...,-3.192425,152561247,1,0,100,NaN,NaN,0,MICROSOFT CORPORATION,A
162836,107525,2023-08-31,MSFT 251219P385000,1,2025-12-19,2023-07-21,P,385000,70.90,73.20,...,-2.847353,153528693,1,0,100,NaN,NaN,0,MICROSOFT CORPORATION,A
162837,107525,2023-08-31,MSFT 251219P390000,1,2025-12-19,2023-08-02,P,390000,73.15,76.50,...,-2.529099,152561248,1,0,100,NaN,NaN,0,MICROSOFT CORPORATION,A

In [18]:
# keep data where delta=0.5
atm_options = atm_options[atm_options['delta'] == 0.5]
atm_options

Empty DataFrame
Columns: [secid, date, symbol, symbol_flag, exdate, last_date, cp_flag, strike_price, best_bid, best_offer, volume, open_interest, impl_volatility, delta, gamma, vega, theta, optionid, cfadj, am_settlement, contract_size, forward_price, expiry_indicator, index_flag, issuer, exercise_style]
Index: []

[0 rows x 26 columns]

In [ ]:
import pandas as pd
import numpy as np
from datetime import datetime

class ImpliedVolatilityIndicator:
    def __init__(self, data):
        """
        Initialise la classe avec les données des options.
        """
        self.data = data.copy()
        self.preprocess_data()
    
    def preprocess_data(self):
        """
        Prépare les données pour l'analyse.
        """
        # Convertir les colonnes de dates en format datetime
        self.data['date'] = pd.to_datetime(self.data['date'])
        self.data['expiration'] = pd.to_datetime(self.data['expiration'])
        
        # Calculer les jours jusqu'à l'échéance
        self.data['days_to_expiration'] = (self.data['expiration'] - self.data['date']).dt.days
        
        # Calculer le delta en valeur absolue
        self.data['abs_delta'] = self.data['deltas'].abs()
        
        # Supprimer les observations avec des valeurs manquantes essentielles
        self.data.dropna(subset=['implied volatility', 'deltas', 'days_to_expiration'], inplace=True)
    
    def filter_options(self, delta_target=0.5, delta_tolerance=0.05, dte_target=30, dte_tolerance=5):
        """
        Filtre les options selon le delta et les jours jusqu'à l'échéance.
        """
        # Filtrer les options avec un delta proche de 0.5
        delta_min = delta_target - delta_tolerance
        delta_max = delta_target + delta_tolerance
        self.filtered_data = self.data[
            (self.data['abs_delta'] >= delta_min) & (self.data['abs_delta'] <= delta_max)
        ]
        
        # Filtrer les options avec environ 30 jours à l'échéance
        dte_min = dte_target - dte_tolerance
        dte_max = dte_target + dte_tolerance
        self.filtered_data = self.filtered_data[
            (self.filtered_data['days_to_expiration'] >= dte_min) & (self.filtered_data['days_to_expiration'] <= dte_max)
        ]
    
    def calculate_iv_changes(self):
        """
        Calcule le changement mensuel de la volatilité implicite.
        """
        # Trier les données pour le calcul des différences
        self.filtered_data.sort_values(by=['secid', 'cp_flag', 'date'], inplace=True)
        
        # Calculer le changement de la volatilité implicite
        self.filtered_data['iv_change'] = self.filtered_data.groupby(['secid', 'cp_flag'])['implied volatility'].diff()
        
        # Supprimer les NaN résultant du calcul de différence
        self.filtered_data.dropna(subset=['iv_change'], inplace=True)
    
    def calculate_average_iv(self):
        """
        Calcule la volatilité implicite moyenne des calls et puts ATM pour chaque action.
        """
        # Calculer la volatilité implicite moyenne par secid et date
        self.filtered_data['average_iv'] = self.filtered_data.groupby(['secid', 'date'])['implied volatility'].transform('mean')
    
    def run_analysis(self):
        """
        Exécute toutes les étapes de l'analyse.
        """
        self.filter_options()
        self.calculate_iv_changes()
        self.calculate_average_iv()
        return self.filtered_data

In [16]:
options_2022 = pd.read_parquet('../data/raw_data/options_data.parquet')
options_2022

,secid,date,symbol,cp_flag,exdate,impl_volatility,strike_price,best_bid,best_offer,volume,open_interest,delta,underlying_symbol,time_to_maturity
0,101207.0,2010-04-12,ALEX 100417C35000,C,2010-04-17,0.274730,35000.0,0.15,0.35,125.0,213.0,0.344449,ALEX,5
1,101508.0,2017-01-03,AMGN 170106C140000,C,2017-01-06,0.337617,140000.0,10.55,10.95,20.0,51.0,0.992467,AMGN,3
2,101508.0,2017-01-03,AMGN 170106C145000,C,2017-01-06,0.228550,145000.0,5.60,5.95,2.0,35.0,0.970228,AMGN,3
3,101508.0,2017-01-03,AMGN 170106C146000,C,2017-01-06,0.161553,146000.0,4.65,4.85,113.0,155.0,0.985702,AMGN,3
4,101508.0,2017-01-03,AMGN 170106C147000,C,2017-01-06,0.225577,147000.0,3.80,4.00,33.0,313.0,0.892178,AMGN,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55796055,203876.0,2015-06-12,GOOG 150710P495000,P,2015-07-10,0.185284,495000.0,0.80,1.05,1.0,60.0,-0.074226,GOOG,28
55796056,203876.0,2015-06-12,GOOG 150710P510000,P,2015-07-10,0.168541,510000.0,2.15,2.55,1.0,9.0,-0.172606,GOOG,28
55796057,203876.0,2015-06-12,GOOG 150710P525000,P,2015-07-10,0.158962,525000.0,5.70,6.40,1.0,78.0,-0.367082,GOOG,28
55796058,203876.0,2015-06-12,GOOG 150710P530000,P,2015-07-10,0.155914,530000.0,7.60,8.40,1.0,15.0,-0.449900,GOOG,28
55796059,203876.0,2015-06-12,GOOG 150710P532500,P,2015-07-10,0.153833,532500.0,8.70,9.50,1.0,26.0,-0.493396,GOOG,28

In [17]:
options_2022.sort_values(by=['secid', 'date'], inplace=True)

In [18]:
options_2022

,secid,date,symbol,cp_flag,exdate,impl_volatility,strike_price,best_bid,best_offer,volume,open_interest,delta,underlying_symbol,time_to_maturity
17991745,100892.0,2010-04-12,AFL 100417C45000,C,2010-04-17,0.762015,45000.0,10.55,10.60,22.0,35.0,0.992013,AFL,5
17995963,100892.0,2010-04-12,AFL 100417C46000,C,2010-04-17,0.690885,46000.0,9.55,9.60,22.0,40.0,0.991271,AFL,5
17995964,100892.0,2010-04-12,AFL 100417C47000,C,2010-04-17,0.620665,47000.0,8.55,8.60,33.0,66.0,0.990383,AFL,5
17995965,100892.0,2010-04-12,AFL 100417C48000,C,2010-04-17,0.643369,48000.0,7.55,7.65,31.0,239.0,0.976205,AFL,5
17995966,100892.0,2010-04-12,AFL 100417C49000,C,2010-04-17,0.565751,49000.0,6.55,6.65,20.0,405.0,0.973295,AFL,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11452662,218377.0,2023-08-24,CR 230915P90000,P,2023-09-15,0.213068,90000.0,3.20,4.40,1.0,1.0,-0.750715,CR,22
11452663,218377.0,2023-08-28,CR 230915C100000,C,2023-09-15,0.518965,100000.0,0.00,1.60,2.0,326.0,0.157552,CR,18
11452664,218377.0,2023-08-28,CR 230915C95000,C,2023-09-15,0.245248,95000.0,0.05,0.40,11.0,391.0,0.100738,CR,18
11452665,218377.0,2023-08-29,CR 230915C90000,C,2023-09-15,0.247109,90000.0,1.05,2.05,1.0,3.0,0.451132,CR,17
11452666,218377.0,2023-08-29,CR 230915C95000,C,2023-09-15,0.244533,95000.0,0.10,0.45,1.0,391.0,0.120997,CR,17

In [19]:
options_2022['underlying_symbol'].nunique()

1265

In [20]:
# convert exdate and date columns to datetime format

options_2022['exdate'] = pd.to_datetime(options_2022['exdate'], format='%Y%m%d')
options_2022['date'] = pd.to_datetime(options_2022['date'], format='%Y%m%d')

In [21]:
options_2022['TTM'] = options_2022['exdate'] - options_2022['date']
options_2022['TTM'] = options_2022['TTM'].dt.days

In [22]:
options_2022['TTM'].describe().astype(int)

count    55796060
mean           14
std             8
min             1
25%             7
50%            14
75%            22
max            30
Name: TTM, dtype: int64

In [23]:
# find minimum date in date column
options_2022['date'].min()

Timestamp('2010-02-12 00:00:00')